extends ../layouts/default

block content
	.cvContent
		.opening
			p Of the approximate 7.427 billion people on this planet, not many know exactly what they want to achieve of themselves, what their heart most truly yearns for or what gives their relatively meaningless lives any kind of rational purpose or reason to exist. 
			
			p I’ve always been different.

		.about
			h4 About
			.whatAmI
				p I’m a cocktail drinking, grammar nazi, creative professional with a ‘mad scientist’ programming alter-ego.
				p Creative Technologist for short.

			h5 I specialise in
			ul
				li Design (UI/UX)
				li Development
				li Protyping/Ideation
				li Copywriting
				li Creative Direction

			h5 I am also experienced in:
			ul
				li Video Prodution and Editing
				li Music Production
				li Digital Marketing

			h5 Extracurricular (#[span.past Past]/#[span.present Present])
			ul
				li.past Classical Ballet (8 years)
				li.past Choirboy at St Mary’s Cathedral Choir (8 years)
				li.present Guitar (5 years)
				li.past Double Bass (8 years)
				li.past Ukrainian Dancing (13 years)

		.experience 
			h4 Experience
			.positions
				mixin position(position)
					.position
						.col.when
							.timeSpent
								if !position.current
									| #{position.startDate} - #{position.endDate}
								else
									| #{position.startDate} - present
						.col.what
							span.role= position.role
							span.company= position.company
							p.description= position.description

				each position in positions
					+position(position)